/* Navigation bar */

nav {
  display: flex;
  background-color: #ff6600;
  align-items: center;
  padding-left: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  border-radius: 3px 3px 0 0;
}

.navbar-brand {
  font-weight: bold;
  display: inline;
}

.nav-link {
  font-size: 0.85rem;
  margin: 0 3px;
}

.nav-div {
  padding-left: 5px;
  position: relative;
  right: 0;
  display: inline;
}

.nav-right {
  margin-left: auto;
  text-align: right;
  display: inline;
  left: 0;
}

#new-post-btn {
  background-color: #ff6600;
  border: 1px solid black;
  margin-left: 0;
  margin-right: 10px;
  height: 20px;
  font-size: 14px;
  
}

#new-post {

}